


Body {
    COLOR: whitesmoke;
    background-color: #ADD8E6;
   
}
h1 {
    color: #96E6B3;
    text-align: center;
    font-family: Georgia;
    font-weight: lighter;
    font-size: xx-large;
    text-transform: normal;
    border-bottom: 1px solid whitesmoke;
    margin-top: 30px;
}
h1, h2 {
    color: #EEEBD3;
}

P Strong {
    Color: darkkhaki
}
P.INTRO {
    font-style: Sans-Serif;
}
A:link{
    color: #2B2D42;
}
A:visited {
    color: #0B4F6C;
}